.compare-bikes {
  margin-top: 92px;

  @include on-tablet {
    margin-top: 132px;
  }

  @include on-desktop {
    margin-top: 164px;
  }

  &__title {
    margin: 0 0 48px;

    @include text(500, 32px, 32px, -1.5px);

    text-align: center;
    color: $color-white;

    @include on-tablet {
      @include text(500, 48px, 100%, -1.5px);

      margin-bottom: 48px;
      grid-column: 2/-2;
    }

    @include on-desktop {
      margin-bottom: 56px;

      @include text(500, 64px, 100%, -1.5px);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }

    grid-column: 1 / -1;

    @include on-tablet {
      &:not(:last-child) {
        margin-bottom: 48px;
      }

      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
      margin-bottom: 0;
    }
  }

  &__image {
    width: 100%;
    transition: transform 0.3s ease;
  }

  &__link {
    display: flex;
    margin-bottom: 32px;
    overflow: hidden;

    &:hover .compare-bikes__image {
      transform: scale(1.05);
    }

    @include on-tablet {
      grid-column: 2/-2;
    }

    @include on-desktop {
      grid-column: 1 / 5;
    }
  }

  &__name {
    margin: 0 0 8px;

    @include text(700, 24px, 140%, 0);

    color: $color-white;

    @include on-tablet {
      grid-column: 2 / 4;
    }
  }

  &__description {
    margin: 0 0 16px;

    @include text(400, 16px, 140%, 0);

    color: $color-white;

    @include on-tablet {
      grid-column: 2 / -2;
    }
  }

  &__price {
    margin: 0;

    @include text(700, 24px, 140%, 0);

    color: $color-white;

    @include on-tablet {
      grid-column: 2 / 4;
    }
  }
}
