.header {
  background-image: url('../images/header/bike-mobile.png');
  background-size: cover;
  background-position: right;
  height: 480px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include on-tablet {
    height: 628px;
  }

  @include on-desktop {
    height: 711px;
  }

  &__title {
    margin: 0;

    @include text(700, 36px, 100%, -1.5px);

    text-align: center;
    color: $color-white;
  }

  &__bottom {
    padding: 0 20px 88px;
  }

  @include on-tablet {
    &__bottom {
      padding: 0 72px 130px;
    }

    &__title {
      font-size: 64px;
    }
  }

  @include on-desktop {
    background-image: url('../images/header/desktop-bike.png');
    background-position: top;

    &__bottom {
      padding: 0 294px 203px;
    }

    &__title {
      font-size: 80px;
    }
  }
}
