@mixin on-tablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1260px) {
    @content;
  }
}

@mixin text($weight, $size, $line, $space) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
  letter-spacing: $space;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-columns($columns, $column-width: 1fr, $gap: 20px) {
  display: grid;
  grid-template-columns: repeat($columns, $column-width);
  column-gap: $gap;
}
