$color-white: #fff;
$color-eerie-black: #1d1d1d;
$color-light-gray: #f8f8fa;
$color-text-placeholder: #7e7e83;
$color-menu: #c2c2c2;
$color-input: #292929;
$color-hover-contact: #f8f8fa;
$color-hover-border: #d5d7de;